body {
    background-color: black;
    font-family: 'Dancing Script', cursive;
}
.contenido {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    animation: animacion 1s;
}
header {
    width: 100%;
    padding: 0 1em;
    background: #5b7989;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
    header h1 {
        color:white;
        width: 50%;
        float: left;
        margin: 20px 0;
        text-align: left;        
        text-shadow: 2px 2px 2px #02010a;
    }
    header h2 {
        color: white;
        text-decoration: underline;
        margin: 0;
    }
        header h2.selected {
            text-decoration: none;
        }
nav {
    float: right;
    margin: 20px 0;
    display: -webkit-flex;
    display: flex;
}
    nav a {
        text-decoration: none;
        margin: 0 1em;
    }

section {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
    section div {
        box-sizing: border-box;
        padding: 1em 1.5em;
    }
    section h3 {
        width: 100%;
        text-align: center;
        margin: 5px;
        text-decoration: underline;
    }
.cont-1 {
    width:100%;
    background: #82c3a6;
}
    .cont-1 img {
        width: 100%;
    }
.cont-2 {
    width: 50%;
    background: #d5c75f;
    border: 1px;
}
    .cont-2 img {
        width: 100%;
    }
img[class^=img] {
    transition-property: transform, box-shadow;
    transition-duration: 1s;
}
    .img-1:hover {
        transform: rotate(10deg);
        box-shadow: 2px 2px 2px #82c3a6;
    }
    .img-2:hover {
        transform: translate(20px, -5px);
        box-shadow: 2px 2px 2px #82c3a6;
    }
img {
    box-shadow: 2px 2px 2px #02010a;
}

.galeria {
    width: 33.33%;
    background: #d5c75f;
}
    .galeria img {
        width:100%;
    }
.gal-img-1 {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.gal-img-2, .gal-img-4, .gal-img-6 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.gal-img-3 {
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}

footer {
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        background: #C6d5c5;
        border-radius: 0px 0px 10px 10px;
    }
    footer div {
        box-sizing: border-box;
        padding: 1em 1.5em;
        width:25%;
    }
    footer h2 {
        width: 100%;
        margin: 5px;
    }
    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    footer a {
        text-decoration: none;
        color: black;
    }
    footer img {
        width: 2.3em;
        box-shadow: none;
    }

@-webkit-keyframes animacion{
    0% {
        margin-top: 150%;
    }
    60% {
        margin-top: -5%;
    }
    100% {
        margin-top: 0%;
    }
}
@media (max-width: 900px) {
    .contenido {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        min-width: 325px;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    nav {
        float: inherit;
        margin-left: auto;
        margin-right: auto;
        width: 18em;
    }
    .cont-2 {
        width: 100%;
    }
    .galeria {
        width: 100%;
    }
    footer div {
        width: 100%;
    }
}